.verified-icon {
  color: blue;
  margin-bottom: -3px;
}

.global {
  margin-left: 170px;
  width: 1000px;
}


label {
  font-weight: bold;
}

input {
  height: 23px;
}

.head {
  text-align: center;
  color: darkblue;
  font-family: cursive;
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-decoration: double;
}

.cocheBleue {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: cursive;
  font-weight: 500;
  font-size: larger;
}

form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
}

#dtype-compte {
  text-align: center;
  font-family: cursive;
  font-size: larger;
  font-weight: 300;
}

#select {
  margin-top: -40px;
  width: 700px;
  height: 35px;
  border-radius: 7px;
  font-family: cursive;
  font-size: medium;
  font-weight: lighter;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#dtype-entreprise {
  font-family: cursive;
  font-size: medium;
  font-weight: lighter;
  text-align: center;
  margin-top: 10px;
}

.type-entreprise {
  margin-top: 14px;
  margin-left: 40px;
}

.every {
  text-align: center;
  margin-top: 30px;
}

#dnombre-abonne,
#dnombre-publications,
#dfrequence,
#dnombre-annee,
#dajouter-critere,
#calculer,
.dNouveau {
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
}

#dnombre-abonne {
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#dNouveau {
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#dpublication {
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#dfrequence {
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#dannee {
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}


#calculer {
  margin: 5px 0;
  padding-top: 10px;
}

.calculer:hover {
  color: white;
}

.ajouter-critere:hover {
  color: white;
}

.titre {
  margin-bottom: 5px;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  font-family: cursive;
}

/*#seuil,
#poids {
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  border-radius: 7px;
  text-align: center;
}

#seuil {
  width: 100px;
}

#poids {
  width: 50px;
}*/

#nombre-abonne,
#annee,
#publication,
#frequence,
#nouveau {
  width: 200px;
  margin: 0 10px;
  border-radius: 5px;
}

#frequence {
  margin-top: 10px;
}

#seuil-frequence-min,
#seuil-frequence-max,
#seuil-annee-min,
#seuil-annee-max,
#seuil-publication-min,
#seuil-publication-max,
#seuil-frequence-min,
#seuil-frequence-max,
#seuil-abonne-min,
#seuil-abonne-max {
  width: 100px;
  margin: 0 10px;
  border-radius: 7px;
  text-align: center;
}

#poids-abonne,
#poids-annee,
#poids-publication,
#poids-frequence {
  width: 50px;
  margin: 0 10px;
  border-radius: 7px;
  text-align: center;
}

.ajouter-critere {
  width: 300px;
  height: 45px;
  font-family: cursive;
  font-weight: 700;
  border-radius: 10px;
  background-color: blue;
  font-size: larger;
  cursor: pointer;
  margin-top: 14px;
  margin-left: 40px;
}

.calculer {
  width: 700px;
  height: 45px;
  font-family: cursive;
  font-weight: 700;
  border-radius: 10px;
  background-color: blue;
  font-size: larger;
  cursor: pointer;
}

.type {
  font-family: cursive;
}

.select {
  border: none;
}

.type-entreprise {
  cursor: pointer;
}

.coche {
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: -5px;
  height: 15px;
  width: auto;
}

.switch {
  margin-left: 50px;
}

/* Styles pour le choix de la méthode d'aggrégation */
#aggregation-method {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: cursive;
  font-weight: 500;
  font-size: larger;
}

#aggregation-method label {
  display: block;
  margin-bottom: 10px;
  font-family: cursive;
}

#aggregation-method select {
  width: 200px;
  height: 35px;
  border-radius: 7px;
  font-family: cursive;
  font-size: medium;
  font-weight: lighter;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.agreg {
  font-family: cursive;
  font-size: larger;
}

#daggregation-method {
  margin-top: 10px;
  padding-top: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  border-radius: 5px;
}